.popup {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 100;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640%;
  background-color: #fff;
  margin: 8%;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.popup-content {
  display: flex;
  overflow-y: scroll;
  max-height: calc(100vh - 20vh);
  padding: 20px;
  justify-content: center;
 
}

/* .MuiSelect-root {

} */

.parent-element {
  position: relative;
}
